<md-card class="card-login">
  <md-card-header>
    <md-card-title>
      <h3>Sign up</h3>
    </md-card-title>
    <md-card-subtitle>to My Forum</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form>
      <table style="width:100%" cellspacing="0">
        <tr>
          <td>
            <md-input-container style="width:100%">
              <input mdInput autofocus placeholder="Username">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width:100%">
              <input type="password" mdInput placeholder="Password">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width:100%">
              <input type="password" mdInput placeholder="Confirm Password">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button>SIGN UP</button>
  </md-card-actions>
</md-card>