@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$md-myforumtheme: (
    50 : #eef5fb,
    100 : #d4e5f5,
    200 : #b7d4ee,
    300 : #9ac2e7,
    400 : #85b5e1,
    500 : #6fa8dc,
    600 : #67a0d8,
    700 : #5c97d3,
    800 : #528dce,
    900 : #407dc5,
    A100 : #ffffff,
    A200 : #e3efff,
    A400 : #b0d3ff,
    A700 : #96c4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-myforumwarntheme: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$candy-app-primary: mat-palette($md-myforumtheme);
$candy-app-accent:  mat-palette($md-myforumtheme, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($md-myforumtheme, A700, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

.candy-carousel {
    background-color: mat-color($candy-app-primary);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);