/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.forum-container {
  padding: 5px;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .forum-container {
    max-width: 80%;
  }
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}